input[type=text],input[type=password],input[type=email],input[type=tel]{
    width: 35%;
    padding: 12px 27px;
    margin: 8px 0;
    box-sizing: border-box;
    border: none;
    background-color: #cacaca;
    color: rgb(82, 81, 81);
  }
  h1 {
    font-size: 3em;
    text-align: center;
    color: #fff;
    font-weight: 100;
    text-transform: capitalize;
    letter-spacing: 4px;
    font-family: 'Roboto', sans-serif;
  }
  h2 {
    font-size: 3em;
    text-align: center;
    color: #fff;
    font-weight: 100;
    text-transform: capitalize;
    letter-spacing: 4px;
    font-family: 'Roboto', sans-serif;
  }
  h5 {
    font-size: 1em;
    text-align: center;
    color: rgb(236, 232, 11);
    font-weight: 100;
    text-transform: capitalize;
    letter-spacing: 4px;
    font-family: 'Roboto', sans-serif;
  }
  input[type=submit] {
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    float: center;
  }
  
  input[type=submit]:hover {
    background-color: #45a049;
  }
  input[type=button] {
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    float: center;
  }
  
  input[type=button]:hover {
    background-color: #45a049;
  }